/* Remove margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default */
html {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;  
}

a{
    text-decoration: none;
    color: #eee;
}

.btn-purple {
    display: inline-block;
    text-transform: uppercase;
    font-size: .9rem;
    color: #fff;
    border-radius: .7rem;
    padding: .7rem;
    background: #736EDF;
}


/* NAVBAR */

.navbar {
    text-align: left;
    padding: 1.5rem;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.navbar label {
    display: inline-block;
    cursor: pointer;
    background: url(../img/menu.png) no-repeat left center;
    background-size: 60%;
    padding: 1rem 2rem;
}

input#menu {
    display: none;
}

.navbar ul {
    width: 100%;
    justify-content: center;
    padding: 1rem;
    list-style-type: none;
    display: inline-flex;
}

.navbar-ul.scrolled-1 {
    background-color:#7448D7 !important;
    transition: background-color 300ms linear;
  }

.navbar-ul.scrolled-2 {
    background-color:#736EDF !important;
    transition: background-color 300ms linear;
}

.navbar-ul.scrolled-3 {
    background-color: white !important;
    transition: background-color 300ms linear;
}

.navbar a {
    color: rgb(196, 193, 243);
    display: inline-block;
    padding: .324rem;
    font-size: .9rem;
    font-weight: 550;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

#nav-link-support {
    margin-top: 1px;
    background-color: #81D398;
    color: #fff;
    padding: .6rem;
    border-radius: .3rem;

}


/* HEADER */
.header{
    background: 
    linear-gradient(
    155deg,
    #742ED1 20%,
    #7448D7 20%,
    #7448D7 56%,
    #736EDF 56.1%,
    #736EDF 76%,
    #fff 76.1%
  );;
    position: relative;
    background-position: top;
    height: 96vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.text-box {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    width: 25rem;
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 2rem;
    font-size: 2.6rem; 
    font-weight: 550;
    line-height: 1.3;
}

.heading-primary-main {
    display: block;
}

.heading-primary-sub {
    display: block;
}

#or-less {
    color: #9BE8B2;
}

.search-text {
    transform: translateX(-13%);
    white-space: nowrap;
    font-size: 1.3rem;
}

#input-text {
    height: 3.7rem;
    width: 100%;
    border-radius: 5px;
    border: none;
}

#input-submit {
    color: #fff;
    background-color:#81D398;
    padding: 1rem;
    border-radius: 5px;
}

#input-text::placeholder {
    padding-left: 1.3rem;
}


/* SECTION 1 */
.section-1 {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
}

.section-1-learn-div {
    position: relative;
    top: 55vh;
}
#section-1-learn-text {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.822); 
    white-space: nowrap;
}

.section-1-arrow-div {
    position: absolute;
    top: 66vh;
}

#section-1-arrow {
    background-color:#81D398;
    padding: 1rem;
    border-radius: 50%;
}

#section-1-arrow-img{ 
    filter: brightness(100);
    position: relative;
    top: .7rem;
    width: 8%;
    filter: brightness(100)
}



/* SECTION 2 */
.section-2 {
    margin: 3rem 2rem;
    text-align: center;
    font-size: 1.3rem;
}

.section-2-text {
    max-width: 60rem;
    display: inline-block;
}

.section-2-text p {
    width: 100%;
    opacity: 0.5;
    font-size: 1.3rem;
}

.section-2-btn {
    margin-top: 1.5rem;
}


.section-3 {
    margin: 3.5rem 2rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1rem;
    /* min-height: 68rem;     */
}

#title span{
    font-size: 1.8rem;
    opacity: 0.4;
}

.bar {
    width: 3rem;
    display: inline-block;
    height: .2rem;
    background: #717479;
}

.cards-container {
    position: relative;
    padding: 2rem 0rem;
    width: 100%;
    min-height: 33rem;

}

.grid {
    display: inline-grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);
}

.card {
    margin: 1rem auto;
    position: relative;
    padding: 4rem 0rem;
    text-align: left;
    background: #F5F9FC;
    border-radius: .7rem;
    width: 28rem;
    box-shadow: .1rem 0 0 .1rem #eee;
}

.card-image{
    display: inline;
}

.card-image img {
    display: inline-block;
    width: 20%;
}

.card-content {
    position: absolute;
    left: 7rem;
    top: 3rem;
}

.card-content span {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1rem;
}

.card-content p {
    font-size: 1.3rem;
    opacity: .5;
}

#card-1 {
    grid-column: 1;
    grid-row: 1;
}

#card-2 {
    grid-column: 1;
    grid-row: 2;
}

#card-3 {
    grid-column: 1;
    grid-row: 3;
}

#card-4 {
    grid-column: 1;
    grid-row: 4;
}

.section-4 {
    z-index: -6;
    position: relative;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

#section-3-4-bg {
    position: relative;
    z-index: -7;
    min-height: 100%;
    background: linear-gradient(-30deg, rgba(216, 220, 223, 0.486) 35%, #FFF 35.1%);
}

.section-4-text {
    position: absolute;
    top: 5rem;
    color:#5853b3d3;
    
}

#section-4-text-1 {
    color:#736EDF;
    opacity: .6;
    display: block;
}

.section-4-buttons{
    position: absolute;
    top: 11rem;
}

#btn-contactus {
    display: inline-block;
    text-transform: uppercase;
    font-size: .9rem;
    color: rgb(66, 64, 64);
    border-radius: .7rem;
    padding: .7rem;
    background: #ffffff;
    box-shadow: .1rem 0 0 .1rem #eee;
}

.footer {
    width: 100vw;
    min-height: 43rem;
    background: #736EDF;
    color: #eee;
    overflow: hidden;
}

.main-footer{
    position: relative;
    top: 5rem;
    text-align: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .2fr;
}

.footer-div { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.15rem;
    line-height: 3rem;
    padding-bottom: 2rem;
}

#phone {
    font-weight: 550;
    display: flex;
}

#phone-logo {
    filter: brightness(0) invert(1);
    transform: rotate(265deg);
    margin-right: .2rem;
}

#email {
    margin-top: .9rem;
    display: flex;
}
#email-text {
    opacity: .5; 
}
#email-text:hover {
    opacity: 1
}
#email-logo {
    margin-right: .2rem;
}


#address {
    margin-top: 2rem;
    display: flex;
    line-height: 1.5rem;   
}

#address-logo {
    font-size: 1.3rem;
    filter: brightness(100) invert(1);

}

#address-text {
    text-align: center;
    opacity: .5;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;   
}

#address-text:hover {
    opacity: 1
}

.footer-col-header {
    font-weight: 550;
    font-size: 1.1em;
}

.footer-col-link {
    opacity: .5;
}

.footer-col-link:hover {
    opacity: 1;
}




/* MEDIA QUERIES */


@media (min-width: 335px) {
    .footer-div {
        line-height: 2.6rem;
    }
    #phone, #email, #address {
        justify-content: center;
    }
}


@media (min-width: 449px) {
    #main-footer {
        top: 170rem;
    }
}

/* Navbar a tag padding */
@media (min-width: 390px) {
 
    .navbar a {
        padding: 1rem;
        font-size: .9rem;
        font-weight: 550;
    }
    #nav-link-support {
        margin-top: .5rem;
    }
    .section-1-arrow-div {
        top: 68vh;
    }
}

@media (min-width: 470px) {
 
    .navbar a {
        font-size: 1.1rem;
        font-weight: 550;
    }
}

@media (min-width: 515px) {
    .header{
        background: 
        linear-gradient(
        160deg,
        #742ED1 20%,
        #7448D7 20%,
        #7448D7 56%,
        #736EDF 56.1%,
        #736EDF 76%,
        #fff 76.1%
      );;
    }
}



@media (min-width: 600px) {

    html {
        font-size: 16px;
        /* margin: 2em;  */
    }

    .navbar {
        padding: 0;
    }

    .navbar label {
        padding: 0rem 0rem;
        display: inline;
    }

    .navbar ul{
        padding: .3rem;
    }

    .navbar a{
        padding: .6rem;
    }


    .menu-content {
        width: 100%;
    }
    .navbar label {
        opacity: 0;
        pointer-events: none;
    }
    
    .menu-content {
        max-height: 100%;
    }

    #nav-link-support { 
        margin: 0;
    }


    .section-1-arrow-div {
        top: 66vh;
    }

    #title span {
    display: inline-block;
    padding-top: 2rem;
    }

}

@media (min-width: 655px) {
    .header{
        background: 
        linear-gradient(
        170deg,
        #742ED1 20%,
        #7448D7 20%,
        #7448D7 56%,
        #736EDF 56.1%,
        #736EDF 76%,
        #fff 76.1%
      );;
    }
    .section-1-arrow-div {
        top: 64vh;
    }
}

@media (min-width: 800px) {
    .section-4 {
        justify-content: space-around;
        font-size: 1.4rem;
    }

    .section-4-text {
        top: 0;
        position: unset;
        align-self: center;
    }

    .section-4-buttons {
        top: 0;
        position: unset;
        align-self: center;
    }

}

@media (min-width: 990px) {

    #logo {
        padding-right: 25rem;
    }

    #nav-link-support {
        margin-top: 0;
    }    
    
    .grid {
        display: inline-grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        }
    
    #section-3-4-bg {
        background: linear-gradient(-10deg, rgba(216, 220, 223, 0.486) 45%, #FFF 45.1%);
    }
    
    
    #card-1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 1;
        margin: auto 0;
        justify-self: end;
    }
    
    #card-2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row: 1;
        margin: auto 1.5rem;
        justify-self: start;
    }
    
    #card-3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row: 2;
        margin: auto 0;
        justify-self: end;
    }
    
    #card-4 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row: 2;
      margin: auto 1.5rem;
        justify-self: start;
    }
    
}



@media (min-width: 1024px) {
    .header{
        background: 
        linear-gradient(
        175deg,
        #742ED1 20%,
        #7448D7 20%,
        #7448D7 56%,
        #736EDF 56.1%,
        #736EDF 76%,
        #fff 76.1%
      );;
    }
}

@media (min-width: 1100px) {
    #logo {
        padding-right: 30rem;
    }
}

@media (min-width: 1200px){

    .card {
        width: 45rem;
        padding: 2.3rem;
    }
    .card-content {
        top: 2rem;
        left: 9rem;
        right: .7rem;
        line-height: 1.1;
    }

    .card-image img{
        position: relative;
        transform: translateX(-2.29rem);
    }



    #logo {
        padding-right: 40rem;
    }





}