/* Remove margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default */
html {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff;  
}

a{
    text-decoration: none;
    color: #eee;
}

.btn-purple {
    display: inline-block;
    text-transform: uppercase;
    font-size: .9rem;
    color: #fff;
    border-radius: .7rem;
    padding: .5rem;
    background: #736EDF;
}


/* NAVBAR */

.navbar {
    text-align: left;
    padding: 1.5rem;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}

.navbar label {
    display: inline-block;
    cursor: pointer;
    background: url(../img/menu.png) no-repeat left center;
    background-size: 60%;
    padding: 1rem 2rem;
}

input#menu {
    display: none;
}

.navbar ul {
    padding: 1rem;
    /* background-color: #eee; */
    list-style-type: none;
}

.navbar a {
    color: rgb(196, 193, 243);
    display: inline-block;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu-content {
    max-height: 100%;
}

#nav-link-support {
    background-color: #81D398;
    color: #fff;
    padding: .6rem;
    border-radius: .3rem;

}


/* HEADER */
.header{
    background: 
    linear-gradient(
    155deg,
    #742ED1 20%,
    #7448D7 20%,
    #7448D7 56%,
    #736EDF 56.1%,
    #736EDF 76%,
    #fff 76.1%
  );;
    position: relative;
    background-position: top;
    height: 96vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.text-box {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    width: 25rem;
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 2rem;
    font-size: 2.6rem; 
    font-weight: 550;
    line-height: 1.3;
}

.heading-primary-main {
    display: block;
}

.heading-primary-sub {
    display: block;
}

#or-less {
    color: #9BE8B2;
}

.search-text {
    transform: translateX(-13%);
    white-space: nowrap;
    font-size: 1.3rem;
}

#input-text {
    height: 3.7rem;
    width: 100%;
    border-radius: 5px;
    border: none;
}

#input-submit {
    color: #fff;
    background-color:#81D398;
    padding: 1rem;
    border-radius: 5px;
}

#input-text::placeholder {
    padding-left: 1.3rem;
}


/* SECTION 1 */
.section-1 {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section-1-learn-div {
    position: relative;
    top: 9vh;
}
#section-1-learn-text {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.822); 
    white-space: nowrap;
}

.section-1-arrow-div {
    position: absolute;
    top: 18.5vh;
}

#section-1-arrow {
    background-color:#81D398;
    padding: 1rem;
    border-radius: 50%;
}

#section-1-arrow-img{ 
    position: relative;
    top: .7rem;
    width: 8%;
}



/* SECTION 2 */
.section-2 {
    margin: 3rem 2rem;
    text-align: center;
    font-size: 1.3rem;
}


.section-2-text p {
    opacity: 0.5;
}

.section-2-btn {
    margin-top: 1.5rem;
}


.section-3 {
    margin: 3.5rem 2rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1rem;
    min-height: 68rem;    
}

#title span{
    opacity: 0.4;
}

.bar {
    width: 3rem;
    display: inline-block;
    height: .2rem;
    background: #717479;
}

.cards-container {
    position: relative;
    padding: 2rem 0rem;
    width: 100%;
    min-height: 20rem;
    justify-content: center;
    display: flex;
}

.card {
    position: absolute;
    top: 2rem;
    padding: 4rem 0rem;
    text-align: left;
    background: #F5F9FC;
    border-radius: .7rem;
    width: 28rem;
    box-shadow: .1rem 0 0 .1rem #eee;
}

.card-image{
    display: inline;
}

.card-image img {
    display: inline-block;
    width: 20%;
}

.card-content {
    position: absolute;
    left: 7rem;
    top: 3rem;
}

.card-content span {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1rem;
}

.card-content p {
    font-size: 1.2rem;
    
}

#card-2 {
    top: 17.5rem;
}

#card-3 {
    top: 33rem;
}

#card-4 {
    top: 48.6rem;
}

.section-4 {
    z-index: -6;
    position: relative;
    top: -15rem;
    min-height: 22rem;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    background: 
    linear-gradient( -369deg, rgba(216, 220, 223, 0.486) 76%, #FFF 76.1%);
}


.section-4-text {
    position: absolute;
    top: 10rem;
    color:#5853b3d3;
    
}

#section-4-text-1 {
    color:#736EDF;
    opacity: .6;
    display: block;
}

.section-4-buttons{
    position: absolute;
    top: 15rem;
}

#btn-contactus {
    display: inline-block;
    text-transform: uppercase;
    font-size: .9rem;
    color: rgb(66, 64, 64);
    border-radius: .7rem;
    padding: .5rem;
    background: #ffffff;
    box-shadow: .1rem 0 0 .1rem #eee;
}

.footer {
    width: 100vw;
    height: 40vh;
    min-height: 48rem;
    background: #736EDF;
    color: #eee;
    overflow: hidden;
}

.main-footer{
    position: relative;
    top: 5rem;
    text-align: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    box-sizing: content-box;
    flex-direction: row;
    display: inline-grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40% 5%;
}

.footer-div { 
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
    line-height: 3rem;
}

#phone {
    font-weight: 550;
    display: flex;
}

#phone-logo {
    filter: brightness(0) invert(1);
    transform: rotate(265deg);
    margin-right: .2rem;
}

#email {
    margin-top: 1.7rem;
    display: flex;
}
#email-text {
    opacity: .5; 
}
#email-text:hover {
    opacity: 1
}
#email-logo {
    margin-right: .2rem;
}


#address {
    margin-top: 2rem;
    display: flex;
    line-height: 1.5rem;   
}

#address-logo {
    font-size: 1.3rem;
    filter: brightness(100)

}

#address-text {
    text-align: left;
    opacity: .5;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;   
}

#address-text:hover {
    opacity: 1
}

.footer-col-header {
    font-weight: 550;
    font-size: 1.1em;
}

.footer-col-link {
    opacity: .5;
}

.footer-col-link:hover {
    opacity: 1;
}




/* MEDIA QUERIES */

@media (min-width: 449px) {
    #main-footer {
        top: 170rem;
    }
}

@media (min-width: 600px) {

    html {
        font-size: 16px;
        /* margin: 2em;  */
    }

    .navbar label {
        opacity: 0;
    }

    .section-1-arrow-div {
        top: 25.5vh;
    }

    .section-2 p{
        margin-left: 25%;
        width: 50vw;
    }
}

