/* Remove margin and padding from everything */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default */
html {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    background-color: #fff;
    overflow: hidden;

}

.header {
    background: #7448D7;
    position: relative;
    background-position: top;
    height: 96vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.bg1 {
    position: absolute;
    top: 0;
    background: #742ED1;
    clip-path: polygon(68% 0, 0 0, 0 100%);    
    width: 100%;
    height: 20vh;
}

.bg2 {
    position: absolute;
    background: #736EDF;
    bottom: 0;
    clip-path: polygon(0 79%, 100% 50%, 100% 100%, 0% 100%);
    width: 100%;
    height: 85vh;
}